/* If you want to make the background orange just use the orange class in the tag that you want to change */





/* This is a class for navbar which is cusomizing the navbar */
.navbarclass {

    padding-left: 5%;
    padding-right: 5%;
}

/* This is a class that add style to the HomePage of the Website */
.mainpage {
    padding-top: 10vw;
    overflow: hidden;
    padding-bottom: 10vw;

}


/* This is the main heading of the homepage New Falcon Hazara */
.heading {

    margin-top: 6vw;
    font-size: 6vw;
    font-family: 'Playfair Display', serif;
    margin-left: 10%;
    color: #1F4690;
}

/* This is a class for homepage subheading We Carry We Care */
.subheading {

    font-family: 'IBM Plex Mono', monospace;
    font-weight: lighter;
    margin-bottom: 8%;
    font-size: 2.5vw;
    margin-left: 5vw;
    color: #1F4690;

}

.introduction {
    border: 2px solid white;
    margin: 5% 20%;
    color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    box-shadow: 19px 8px 19px 8px #888888;
    background-color: #1F4690;
    color: black;
    position: relative;

}

.introductionHeading {
    color: white;
    text-align: center;
}

.introductionPara {
    width: 80%;
    color: white;
    margin: auto;
    text-align: center;
}

/* This class customizes the logo that is in the navbar New Falcon Hazara logo */
.logo {
    margin-right: 2vw;
    border: 2px solid #fdfdfd;

    border-radius: 100%;
}



/* Bootstrap button that takes you to the Google Maps website    */
.visit {
    color: white;
    background-color: #1F4690;
    margin-bottom: 8vw;
    padding: 1px 12%;
    border-radius: 2%;
    margin-left: 10%;
}

/* Bootstrap button that takes you to Google Maps and this is its hover state */
.visit:hover {
    background-color: #365a9c;
    color: white;
}

/* This is just a precausionary measure just Ignore */
a {
    color: white;
    text-decoration: none;
}






/* This adds a hover state to the navbar links i.e Home , Find Us */
.b:hover {
    color: #173161;
    background-color: rgb(248, 248, 248);
    /* text-decoration:overline; */
    border: 1px solid #1F4690;
    padding-left: 5px;
}

/*  Contrast of White and Orange */
.orange {
    background-color: #1F4690;
    color: white;
}

/* This is mainpage of website and i have added image to it  */
.dark {

    overflow: hidden;
    background-image: url("images/truck6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: rgb(255, 255, 255);

}

/*  This is i.e Accracy, etc and i have cstomized colour  */
.offer {

    color: grey;
    padding: 6%;
}

/* Fontawesome icons that are added in accurcy etc */
.icon {

    padding-right: 4%;
    color: #1F4690;
}

/* hover state to the icons of FontAwesome */
.icon:hover {
    color: #0c3074;
}

.brand1 {
    width: 100%;
    height: auto;
    font-size: 100%;
}

/* Some breakpoints to make the website responsive on Mobile */
@media(max-width:578px) {
    .subheading {
        margin-left: 10vw;
    }

}

@media(max-width:580px) {
    .brand1 {
        font-size: 0.4em;
        width: 1%;
    }

    .visit {
        padding: 2px 10px;
    }
}

@media(max-width:732px) {
    .mainpage {
        padding-bottom: 16%;
    }
}

@media(max-width:682px) {
    .mainpage {
        padding-bottom: 18%;
    }

}


@media(max-width:650px) {
    .mainpage {
        padding-bottom: 22%;
    }
}


@media(max-width:556px) {
    .mainpage {
        padding-bottom: 27%;
    }
}


@media(max-width:495px) {
    .mainpage {
        padding-bottom: 35%;
    }
}


@media(max-width:440px) {
    .mainpage {
        padding-bottom: 42%;
    }
}


@media(max-width:320px) {
    .mainpage {
        padding-bottom: 45%;
    }
}


@media(max-width:648px) {
    .brand1 {
        font-size: 56%;
    }
}

@media(max-width:428px) {
    .brand1 {
        font-size: 40%;
    }
}

@media(max-width:470px) {
    .heading {
        padding-top: 3em;
    }
}



/* Class for Gallery Section  */
.gallery {
    color: #1F4690;
    text-align: center;
    padding: 3%;
}

/* This is heading to the Map Section */
.mapHeading {
    font-size: 2em;
    text-align: center;
    padding-top: 1.3%;

    font-weight: bolder;

}

/* These are images that are inside the Gallery Section */
.imagesOfGallery {
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    width: 50%;
}

/* 
-------This is carousel images gallery ------------------ */
.d-block {

    width: 300px;
    height: 300px;

}


/* !!!!!!!!!!!!!!!!!!!!!!!!-------End-------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 
!!!!!!!!!!!!!!!!!!!!!-----EXTRA CODE---------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.hr {
    box-shadow: 3px black;
    background-color: white;
    border-style: none;
    border-top-style: solid;
    height: 0.3px;
}

.footer {
    background-color: #365a9c;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 3px;
}



/* @media(max-width:775px){
.truckimage{
width:10%;
}
.heading{
    font-size:12vw;
}
} */
/* @media(max-width:601px){
    .heading{
        margin:auto;
        text-align:center;
    }
    .subheading{
        text-align:center;
    }
    .truckimage{
        display:none;
    }
    .visit{
        margin-left:38vw;
    }
} */




/* The switch - the box around the slider */
/* .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  } */

/* Hide default HTML checkbox */
/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
   */
/* The slider */
/* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
   */
/* .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
   */
/* input:checked + .slider {
    background-color: #293462;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #293462;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
   */
/* Rounded sliders */
/* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   */