body {
    background-color: rgb(255, 255, 255);
    min-height:100%;
}


.navbar {
    background-color: #1F4690;
    color: white;
  min-height:7%;
}

.logo {
    border-radius: 20px;
    border: 1px solid white;
}

.b:hover {
    color: white;
    text-decoration:overline;
    transition:none;
}

h1 {
    color: #1F4690;

    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    padding: 5% 10% 3% 10%;

}
h4{
    color: #1F4690;

    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding: 5% 10% 3% 10%;

}

p {

    font-family: 'Roboto', sans-serif;
    padding: 0% 10%;
    font-size: 1.2em;
}

.blogfooter {
    background-color: #1F4690;
    color: white;
    font-size:0.9em;
}

/* Compose Page CSS  */

input[type="text"] {

    outline: none;
    min-height: 35px;
    max-width: 80%;
    margin: auto;
    text-align: center;


}

textarea {
    min-height: 200px;
    max-width: 80%;
    margin: auto;
}

.btn {
    margin-top: 3%;
}



/* responsive section !!!!!!!!!!! */
@media(max-width:534px){
    .blogfooter{
        margin-top:600px;
    }
}

@media(max-width:371px){
    .blogfooter{
        margin-top:2000px;
    }
}
/* footer stick to bottom */
html {
    position: relative;
    min-height: 100%;
    }
    body {
    margin: 0 0 100px; 
    font-family: sans-serif;
    }
    .content { 
    padding: 15px; 
    box-sizing: border-box;
    text-align: center;
    padding:50px;
    }
    footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color:#FFFFFF; 
    background: #06303A;
    font-size:1.5em;
    text-align: center;
    line-height:100px;
    
    }
    .i{
        font-size:1.8em;
        position:absolute;
        right:6%;
        top:40px;

    }